@use 'variables';

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
